<script type="text/javascript">

var d1 = new Date();
var day1 = d1.getDate();
var month1 = d1.getMonth()+1;
var year1 = d1.getFullYear();

var d2= new Date();
d2.setTime(d1.getTime() + 8*24*2600*1000);
var day2 = d2.getDate();
var month2 = d2.getMonth()+1;
var year2 = d2.getFullYear();

var from_date='';
if (day1<10) from_date+='0';
from_date+=day1+'-';
if (month1<10) from_date+='0';
from_date+=month1+'-'+year1;

var to_date='';
if (day2<10) to_date+='0';
to_date+=day2+'-';
if (month2<10) to_date+='0';
to_date+=month2+'-'+year2;

/*
AMOD: 110628
AMOD during LS1: 530862
Comp@P1: 529410
Comp@P1 Shadow: 529105
ADCoS Expert: 529221
ADCoS Senior: 529222
ADCoS Trainee: 529223
DAST 1st level: 529412
DAST 2nd level: 529413
DAST Trainee: 529414
*/

//var URL_base='https://pptevm.cern.ch/mao/ui/reports/queryReport?documentId=66693&format=PDF&prompt_0=110628&prompt_0=529410&prompt_0=529105&prompt_0=529221&prompt_0=529222&prompt_0=529223&prompt_0=529412&prompt_0=529413&prompt_0=529414&prompt_0=529221&';

var URL_base='https://pptevm.cern.ch/mao/ui/reports/queryReport?documentId=66693&format=PDF&prompt_0=530862&prompt_0=110628&prompt_0=529410&prompt_0=529105&prompt_0=529221&prompt_0=529222&prompt_0=529223&prompt_0=529412&prompt_0=529413&prompt_0=529414&prompt_0=529221&';

var URL_today=URL_base+'type_prompt_1=date&prompt_1='+from_date+'&type_prompt_2=date&prompt_2='+from_date;
var link_today='<a href="'+URL_today+'" target="_blank">ADC shifts today (PDF)</a>';
document.write(link_today);

var URL=URL_base+'type_prompt_1=date&prompt_1='+from_date+'&type_prompt_2=date&prompt_2='+to_date;
var link_1week='<br><a href="'+URL+'" target="_blank">ADC shifts from '+from_date+' to '+to_date+' (PDF)</a>';
document.write(link_1week);


</script>
